<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i>
            Introduction
        </div>
        <div class="card-body">

            <p>
                <strong>Buttons</strong> are used primarily on action items. Some examples include Add,
                Save, Delete, Sign up. Do not use Buttons as navigational elements. Instead,
                use Links because it takes the user to a new page and is not associated with
                an action. Each page may have one to two primary buttons. Any remaining
                calls-to-action are represented as secondary buttons.
            </p>

            <p></p>

            <p>
                <strong>Buttons</strong> express what action will occur when the user clicks or touches
                it. Buttons are used to initialize an action, either in the background or
                foreground of an experience.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i>
            Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col-12 col-xl mb-3 mb-xl-0">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary" type="button">Primary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-secondary" type="button">Secondary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success" type="button">Success</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-warning" type="button">Warning</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-danger" type="button">Danger</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-info" type="button">Info</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-light" type="button">Light</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-dark" type="button">Dark</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-link" type="button">Link</button>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-12 col-xl mb-3 mb-xl-0">Active State</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary active" type="button" aria-pressed="true">Primary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-secondary active" type="button" aria-pressed="true">Secondary
                    </button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success active" type="button" aria-pressed="true">Success</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-warning active" type="button" aria-pressed="true">Warning</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-danger active" type="button" aria-pressed="true">Danger</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-info active" type="button" aria-pressed="true">Info</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-light active" type="button" aria-pressed="true">Light</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-dark active" type="button" aria-pressed="true">Dark</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-link active" type="button" aria-pressed="true">Link</button>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-12 col-xl mb-3 mb-xl-0">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary" type="button" disabled="">Primary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-secondary" type="button" disabled="">Secondary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success" type="button" disabled="">Success</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-warning" type="button" disabled="">Warning</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-danger" type="button" disabled="">Danger</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-info" type="button" disabled="">Info</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-light" type="button" disabled="">Light</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-dark" type="button" disabled="">Dark</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-link" type="button" disabled="">Link</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i>
            Code
        </div>
        <div class="card-body">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#htmlBlock" role="tab" aria-controls="htmlBlock">
                            HTML</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="htmlBlock" role="tabpanel">
                        <pre class="prettyprint lang-html" style="border: none">
&lt;h2>Default Buttons&lt;/h2>
&lt;button type="button" class="em-ds-button em-ds-button-default">Default&lt;/button>

&lt;h2>Primary Buttons&lt;/h2>
&lt;button type="button" class="em-ds-button em-ds-button-primary">Primary&lt;/button>


&lt;h2>Tertiary Buttons&lt;/h2>
&lt;button type="button" class="em-ds-button em-ds-button-tertiary">Tertiary&lt;/button>


&lt;h2>Different Size Buttons&lt;/h2>
&lt;div>
    &lt;button type="button" class="em-ds-button em-ds-button-primary em-ds-button-xs">Extra Small&lt;/button>
    &lt;button type="button" class="em-ds-button em-ds-button-primary em-ds-button-xm">Small&lt;/button>
    &lt;button type="button" class="em-ds-button em-ds-button-primary em-ds-button-md">Medium&lt;/button>
    &lt;button type="button" class="em-ds-button em-ds-button-primary em-ds-button-lg">Large&lt;/button>
&lt;/div>
                        </pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Class</th>
                        <th style="border-top: none">HEX</th>
                        <th style="border-top: none">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            This is basic class for button. All button must have this class
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-default</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            Class for default button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-primary</code>
                            </span>
                        </td>
                        <td>
                            #2080CD <span class="badge" style="background-color: #2080CD">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            Class for primary button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-tertiary</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            Class for tertiary button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>:hover</code>
                            </span>
                        </td>
                        <td>
                            #1394E5 <span class="badge" style="background-color: #1394E5">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            For hovered button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>:active</code>
                            </span>
                        </td>
                        <td>
                            #006AA9 <span class="badge" style="background-color: #006AA9">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            For active button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>:disabled</code>
                            </span>
                        </td>
                        <td>
                            #A9B1BE <span class="badge" style="background-color: #A9B1BE">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            For disabled button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-xs</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            Class for extra small button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-xm</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            Class for small button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-md</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            Class for medium button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.em-ds-button-lg</code>
                            </span>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            Class for large button
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>