<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i>
            Introduction
        </div>
        <div class="card-body">

            <p>
                <strong>Buttons</strong> are used primarily on action items. Some examples include Add,
                Save, Delete, Sign up. Do not use Buttons as navigational elements. Instead,
                use Links because it takes the user to a new page and is not associated with
                an action. Each page may have one to two primary buttons. Any remaining
                calls-to-action are represented as secondary buttons.
            </p>

            <p></p>

            <p>
                <strong>Buttons</strong> express what action will occur when the user clicks or touches
                it. Buttons are used to initialize an action, either in the background or
                foreground of an experience.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i>
            Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i>
            Code
        </div>
        <div class="card-body">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#htmlBlock" role="tab"
                           aria-controls="htmlBlock">
                            HTML</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#jsBlock" role="tab" aria-controls="jsBlock">
                            JavaScript</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="htmlBlock" role="tabpanel">
                        <pre class="prettyprint lang-html" style="border: none">
&lt;h4>Static Dropdown&lt;/h4>
  &lt;div>
    &lt;select class="em-dropdown">
      &lt;option class="dropdown-option" value="SD">South Dakota&lt;/option>
      &lt;option class="dropdown-option" value="TN">Tennessee&lt;/option>
      &lt;option class="dropdown-option" value="TX">Texas&lt;/option>
      &lt;option class="dropdown-option" value="VT">Vermont&lt;/option>
    &lt;/select>
  &lt;/div>

&lt;h4> Dynamic Dropdown&lt;/h4>
  &lt;div id="em-dynamic-dropdown">&lt;/div>
                        </pre>
                    </div>

                    <div class="tab-pane" id="jsBlock" role="tabpanel">
                        <p>Only for static dropdown</p>

                        <pre class="prettyprint lang-javascript" style="border: none">
var stateList = {
        "AL": "Alabama",
        ...
    };

var EMDropdown = customElements.get('em-dropdown');
var dropdownEl = new EMDropdown(stateList);

var containerDropdown = document.getElementById('em-dynamic-dropdown');
if(containerDropdown) {
    containerDropdown.appendChild(dropdownEl)
}
                        </pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Class</th>
                        <th style="border-top: none">HEX</th>
                        <th style="border-top: none">Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>:hover</code>
                            </span>
                        </td>
                        <td>
                            #1394E5 <span class="badge" style="background-color: #1394E5">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            For hover state
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>:disabled</code>
                            </span>
                        </td>
                        <td>
                            #A9B1BE <span class="badge" style="background-color: #A9B1BE">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            For disabled state
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>.error</code>
                            </span>
                        </td>
                        <td>
                            #E34256 <span class="badge" style="background-color: #E34256">&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            For error state
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>