<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i>
            Introduction
        </div>
        <div class="card-body">

            <p>
                <strong>Buttons</strong> are used primarily on action items. Some examples include Add,
                Save, Delete, Sign up. Do not use Buttons as navigational elements. Instead,
                use Links because it takes the user to a new page and is not associated with
                an action. Each page may have one to two primary buttons. Any remaining
                calls-to-action are represented as secondary buttons.
            </p>

            <p></p>

            <p>
                <strong>Buttons</strong> express what action will occur when the user clicks or touches
                it. Buttons are used to initialize an action, either in the background or
                foreground of an experience.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i>
            Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i>
            Code
        </div>
        <div class="card-body">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#htmlBlock" role="tab" aria-controls="htmlBlock">
                            HTML</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="htmlBlock" role="tabpanel">
                        <pre class="prettyprint lang-html" style="border: none">
&lt;em-radio component-id="defaultradiobtn" value="" display-name="Default">&lt;/em-radio>
&lt;em-radio component-id="focusradiobtn" value="" display-name="Hover/Focus">&lt;/em-radio>
&lt;em-radio component-id="activeradiobtn" value="" display-name="Active" checked="true">&lt;/em-radio>
&lt;em-radio component-id="disabledradiobtn" value="" display-name="Disabled" disabled="true">&lt;/em-radio>
&lt;em-radio component-id="readonlyradiobtn" value="" display-name="Readonly" read-only="true">&lt;/em-radio>
&lt;em-radio component-id="checkedreadonlyradiobtn" value="" display-name="Readonly Checked" checked="true" read-only="true">&lt;/em-radio>
                        </pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Attribute (*required data)</th>
                        <th style="border-top: none">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>*component-id</code>
                            </span>
                        </td>
                        <td>
                            This is the html id of the radio button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>value</code>
                            </span>
                        </td>
                        <td>
                            This is the value of the radio button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>*display-name</code>
                            </span>
                        </td>
                        <td>
                            This is the text that will showing up for the radio button on html
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>disabled</code>
                            </span>
                        </td>
                        <td>
                            Give <code>disabled</code> <strong>true</strong> to disable the radio button
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>read-only</code>
                            </span>
                        </td>
                        <td>
                            Give <code>read-only</code> <strong>true</strong> to mark the radio button read only
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>