<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i>
            Introduction
        </div>
        <div class="card-body">

            <p>
                <strong>Buttons</strong> are used primarily on action items. Some examples include Add,
                Save, Delete, Sign up. Do not use Buttons as navigational elements. Instead,
                use Links because it takes the user to a new page and is not associated with
                an action. Each page may have one to two primary buttons. Any remaining
                calls-to-action are represented as secondary buttons.
            </p>

            <p></p>

            <p>
                <strong>Buttons</strong> express what action will occur when the user clicks or touches
                it. Buttons are used to initialize an action, either in the background or
                foreground of an experience.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i>
            Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">


        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i>
            Code
        </div>
        <div class="card-body">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#htmlBlock" role="tab" aria-controls="htmlBlock">
                            HTML</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#jsBlock" role="tab" aria-controls="jsBlock">
                            JavaScript</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="htmlBlock" role="tabpanel">
                        <pre class="prettyprint lang-html" style="border: none">
&lt;div id="footerSection">&lt;/div>
                        </pre>
                    </div>

                    <div class="tab-pane" id="jsBlock" role="tabpanel">
                        <pre class="prettyprint lang-javascript" style="border: none">
var footerData = [
    {'id': 'footerCancelBtn', 'displayName': 'Cancel', 'btnType': 'default', 'navigateTo' : '#/slp'},
    {'id': 'footerNextBtn', 'displayName': 'Next', 'btnType': 'primary', 'navigateTo' : '#/order'},
    {'id': 'footerPreviousBtn', 'displayName': 'Previous', 'btnType': 'primary', 'navigateTo' : '#/landing'},
    {'id': 'footerSubmitBtn', 'displayName': 'Submit', 'btnType': 'primary', 'navigateTo' : '#/slp'}
];

var EMFooter = customElements.get('em-footer');
var footerEl = new EMFooter(footerData);

var containerFooter = document.getElementById('footerSection');
if(containerFooter) {
    containerFooter.appendChild(footerEl)
}
                            </pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Basic Data</th>
                        <th style="border-top: none">Type</th>
                        <th style="border-top: none">Property</th>
                        <th style="border-top: none">Description (*required data)</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>footerData</code>
                            </span>
                        </td>
                        <td>
                            array
                        </td>
                        <td>
                            <div class="small text-muted">
                                id
                            </div>
                            <div class="small text-muted">
                                displayName
                            </div>
                            <div class="small text-muted">
                                btnType
                            </div>
                            <div class="small text-muted">
                                navigateTo
                            </div>
                        </td>
                        <td>
                            *This is footer button array. Each element represents one footer button. <code>id</code> is the id attribute of
                            the button. <code>displayName</code> is the name of the button to be displayed on html. <code>btnType</code> is
                            the type of button, and please view <a href="/#buttons/buttons.html">button page</a> for more detail. <code>navigateTo</code> contains action after button is
                            clicked
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>