<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i>
            Introduction
        </div>
        <div class="card-body">

            <p>
                <strong>Buttons</strong> are used primarily on action items. Some examples include Add,
                Save, Delete, Sign up. Do not use Buttons as navigational elements. Instead,
                use Links because it takes the user to a new page and is not associated with
                an action. Each page may have one to two primary buttons. Any remaining
                calls-to-action are represented as secondary buttons.
            </p>

            <p></p>

            <p>
                <strong>Buttons</strong> express what action will occur when the user clicks or touches
                it. Buttons are used to initialize an action, either in the background or
                foreground of an experience.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i>
            Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">


        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i>
            Code
        </div>
        <div class="card-body">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#htmlBlock" role="tab" aria-controls="htmlBlock">
                            HTML</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#jsBlock" role="tab" aria-controls="jsBlock">
                            JavaScript</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="htmlBlock" role="tabpanel">
                        <pre class="prettyprint lang-html" style="border: none">
&lt;div id="headerSection" class="em-container">&lt;/div>
                        </pre>
                    </div>

                    <div class="tab-pane" id="jsBlock" role="tabpanel">
                        <pre class="prettyprint lang-javascript" style="border: none">
var headerData = {
    'orderCategory': 'Credit',
    'orderStatus': '',
    'providerName': 'Sharper Landing',
    'providerLogo': '',
    'navLinks': [
        {'linkName': 'View Order', 'linkUrl' : '#/view-order'},
        {'linkName': 'Manage Password', 'linkUrl' : '#/manage-password'},
        {'linkName': 'Provider Info', 'linkUrl' : ''}
    ]
};

var headerEl = new EMHeader(headerData);

var containerHeader = document.getElementById('headerSection');
if(containerHeader) {
    containerHeader.appendChild(headerEl)
}
                            </pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Basic Data</th>
                        <th style="border-top: none">Type</th>
                        <th style="border-top: none">Property</th>
                        <th style="border-top: none">Description (*required data)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>orderCategory</code>
                            </span>
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            *This is the name of the header, and will be localed upper left corner of the header
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>orderStatus</code>
                            </span>
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            This is the order status of order category, and will be localed upper right corner of the header.
                            This data can be empty if the status is zero
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>providerName</code>
                            </span>
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            This is the provider name, and will be localed lower left corner of the header.
                            This data will be replaced if provider logo is provided
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>providerLogo</code>
                            </span>
                        </td>
                        <td>
                            string (URL)
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            This is the provider logo. If provider logo is provided, provider name will be replace with image logo
                            no matter name is empty or not
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>navLinks</code>
                            </span>
                        </td>
                        <td>
                            array
                        </td>
                        <td>
                            <div class="small text-muted">
                                linkName
                            </div>
                            <div class="small text-muted">
                                linkUrl
                            </div>
                        </td>
                        <td>
                            This is the navigation link array. Each element contains <code>linkName</code> and <code>linkUrl</code>,
                            where <code>linkName</code> is the name of the navigation item and <code>linkUrl</code> is the url will be
                            navigated to
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>