<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i>
            Introduction
        </div>
        <div class="card-body">

            <p>
                <strong>Buttons</strong> are used primarily on action items. Some examples include Add,
                Save, Delete, Sign up. Do not use Buttons as navigational elements. Instead,
                use Links because it takes the user to a new page and is not associated with
                an action. Each page may have one to two primary buttons. Any remaining
                calls-to-action are represented as secondary buttons.
            </p>

            <p></p>

            <p>
                <strong>Buttons</strong> express what action will occur when the user clicks or touches
                it. Buttons are used to initialize an action, either in the background or
                foreground of an experience.
            </p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i>
            Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">


        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i>
            Code
        </div>
        <div class="card-body">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#jsBlock" role="tab" aria-controls="jsBlock">
                            JavaScript</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div class="tab-pane active" id="jsBlock" role="tabpanel">
                        <pre class="prettyprint lang-javascript" style="border: none">
import SpinnerService from "./spinner.js";
var spinner = SpinnerService.getSpinnerInstance();

var btnStartSpinner = document.getElementById('btnStartSpinner');
if (htmlUtils.isElementFound(btnStartSpinner)) {
    btnStartSpinner.addEventListener("click", function (event) {
        spinner.start();
        setTimeout(function () {
            spinner.stop();
        }, 4000);
    });
}
var btnStartSpinnerCustom = document.getElementById('btnStartSpinnerCustom');
if (htmlUtils.isElementFound(btnStartSpinnerCustom)) {
    btnStartSpinnerCustom.addEventListener("click", function (event) {
        spinner.start(undefined, 'Please Wait...');
        setTimeout(function () {
            spinner.stop();
        }, 4000);
    });
}
                            </pre>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Parameter (*required data)</th>
                        <th style="border-top: none">Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>target</code>
                            </span>
                        </td>
                        <td>
                            <code>target</code> will be html element. If target is given, spinner will be append with the given target.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                <code>loadingMessage</code>
                            </span>
                        </td>
                        <td>
                            <code>loadingMessage</code> is the text will appear within spinner. Default message is
                            <strong>Loading...</strong> if this parameter is empty
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>