<div class="animated fadeIn">

    <div class="card">
        <div class="card-header">
            <i class="icon-info"></i> Introduction
        </div>
        <div class="card-body">

            <p>This is the introduction
                this is a simple paragraph that is meant to be nice and easy to type
                which is why there will be mommas no periods or any capital letters so
                i guess this means that it cannot really be considered a paragraph but
                just a series of run on sentences this should help you get faster at typing
                as im trying not to use too many difficult words in it although i think that i
                might start making it hard by including some more difficult letters I'm typing
                pretty quickly so forgive me for any mistakes i think that i will not just tell you a
                story about the time i went to the zoo and found a monkey and a fox playing together
                they were so cute and i think that they were not supposed to be in the same cage but
                they somehow were and i loved watching them horse.</p>

            <p></p>

            <p>This is the introduction
                this is a simple paragraph that is meant to be nice and easy to type
                which is why there will be mommas no periods or any capital letters so
                i guess this means that it cannot really be considered a paragraph but
                just a series of run on sentences this should help you get faster at typing
                as im trying not to use too many difficult words in it although i think that i
                might start making it hard by including some more difficult letters I'm typing
                pretty quickly so forgive me for any mistakes i think that i will not just tell you a
                story about the time i went to the zoo and found a monkey and a fox playing together
                they were so cute and i think that they were not supposed to be in the same cage but
                they somehow were and i loved watching them horse.</p>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-comment-square"></i> Presentation

            <div class="card-header-actions">
                <a class="card-header-action" href="http://www.chartjs.org" target="_blank">
                    <small class="text-muted">docs</small>
                </a>
            </div>
        </div>
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col-12 col-xl mb-3 mb-xl-0">Normal</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary" type="button">Primary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-secondary" type="button">Secondary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success" type="button">Success</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-warning" type="button">Warning</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-danger" type="button">Danger</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-info" type="button">Info</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-light" type="button">Light</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-dark" type="button">Dark</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-link" type="button">Link</button>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-12 col-xl mb-3 mb-xl-0">Active State</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary active" type="button" aria-pressed="true">Primary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-secondary active" type="button" aria-pressed="true">Secondary
                    </button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success active" type="button" aria-pressed="true">Success</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-warning active" type="button" aria-pressed="true">Warning</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-danger active" type="button" aria-pressed="true">Danger</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-info active" type="button" aria-pressed="true">Info</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-light active" type="button" aria-pressed="true">Light</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-dark active" type="button" aria-pressed="true">Dark</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-link active" type="button" aria-pressed="true">Link</button>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-12 col-xl mb-3 mb-xl-0">Disabled</div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary" type="button" disabled="">Primary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-secondary" type="button" disabled="">Secondary</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success" type="button" disabled="">Success</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-warning" type="button" disabled="">Warning</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-danger" type="button" disabled="">Danger</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-info" type="button" disabled="">Info</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-light" type="button" disabled="">Light</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-dark" type="button" disabled="">Dark</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-link" type="button" disabled="">Link</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="icon-book-open"></i> Code
        </div>
        <div class="card-body">
            <p>Here is the code simple sfdaxasdfasfasfadfa</p>

            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home3" role="tab" aria-controls="home">
                            HTML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile">
                            CSS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages3" role="tab" aria-controls="messages">
                            JavaScript</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home3" role="tabpanel">
                        <pre class="prettyprint lang-html" style="border: none">
                            <code>
&lt;div class="container" style="background-color: red" onclick="option()"&gt;
    &lt;p&gt;Sample text here...&lt;/p&gt;
    &lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;/div&gt;
                            </code>
                        </pre>
                    </div>
                    <div class="tab-pane" id="profile3" role="tabpanel">
                        <pre class="prettyprint lang-css" style="border: none">
                            <code>
.uploadIconLarge {
    font-size: 45px;
    color: darkgrey;
}

.deployFileSection span {
    width: 100%;
    margin-top: 10px;
}

.uploadLabel {
    display: block;
    font-weight: normal;
    margin: 0;
}
                            </code>
                        </pre>
                    </div>
                    <div class="tab-pane" id="messages3" role="tabpanel">
                        <pre class="prettyprint lang-javascript" style="border: none">
                            <code>
function listingNameSort() {
    productList.sort((a, b) => {
        if (a.listingName < b.listingName)
            return -1;
        if (a.listingName > b.listingName)
            return 1;
        return 0;
    });

    renderProductTable();
}

function statusSort() {
    productList.sort((a, b) => {
        if (a.status < b.status)
            return -1;
        if (a.status > b.status)
            return 1;
        return 0;
    });

    renderProductTable();
}

// delete window =========================================
function deleteProduct(index) {
    currentTargetProduct = index;

    $('#deleteWin').modal('toggle');
}

function deleteProductFromService() {
    $('#deleteWin').modal('hide');

    if (currentTargetProduct > -1) {
        productList.splice(currentTargetProduct, 1);
        currentTargetProduct = -1;
        renderProductTable();

        notifUserWithAlert('#successNotif');
    } else {
        notifUserWithAlert('#errorNotif');
    }
}

// deploy window =========================================
function deployProduct(index) {
    currentTargetProduct = index;

    $('#deployWin').modal('toggle');

    deployFile = null;
    document.getElementById("fileUpload").value = "";
    $('#deployFileName').text('no file');
    $('#fileContent').text('no content');
    $('#fileVersion').text('no version');
    $('#deployURL').val('');
    $('#deployWinSubmit').prop('disabled', true);
}

function deployFileUpload(event) {

    if (event !== null) {
        deployFile = event.target.files[0];

        readDeployFileContent(deployFile, (success) => {
            console.log(success)
            checkDeploy();
        });
    }
}

function deployFileToService() {
    $('#deployWin').modal('hide');

    if ($('#deployURL').val().length > 0 || deployFile !== null) {
        notifUserWithAlert('#successNotif');
    } else {
        notifUserWithAlert('#errorNotif');
    }
}
                            </code>
                        </pre>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="cui-star"></i> Style
        </div>
        <div class="card-body">

            <p>Here is the style xxxddfjkaflksakfjasfj sdjfl;kasj ;asdjf;sa lkjf;akj k</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-top: none">Class</th>
                        <th style="border-top: none">Property</th>
                        <th style="border-top: none">SCSS</th>
                        <th style="border-top: none">HEX</th>
                        <th style="border-top: none">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="codeClass">
                                .bx-btn-primary
                            </span>
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            story about the time i went to the zoo and found a monkey and a fox playing together
                            they were so cute and i think that they were not supposed to be in the same cage but
                            they somehow were and i loved watching them horse.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                .bx-btn-primary
                            </span>
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            story about the time i went to the zoo and found a monkey and a fox playing together
                            they were so cute and i think that they were not supposed to be in the same cage but
                            they somehow were and i loved watching them horse.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                .bx-btn-primary
                            </span>
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            story about the time i went to the zoo and found a monkey and a fox playing together
                            they were so cute and i think that they were not supposed to be in the same cage but
                            they somehow were and i loved watching them horse.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                .bx-btn-primary
                            </span>
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            story about the time i went to the zoo and found a monkey and a fox playing together
                            they were so cute and i think that they were not supposed to be in the same cage but
                            they somehow were and i loved watching them horse.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="codeClass">
                                .bx-btn-primary
                            </span>
                        </td>
                        <td>
                            some text may be long here
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            adfasf
                        </td>
                        <td>
                            story about the time i went to the zoo and found a monkey and a fox playing together
                            they were so cute and i think that they were not supposed to be in the same cage but
                            they somehow were and i loved watching them horse.
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>